<a href="https://colab.research.google.com/github/Jenn-mawia/mlbookcamp/blob/main/session_1_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2022

In [80]:
import pandas as pd
import numpy as np
import seaborn as sns

In [81]:
cars = pd.read_csv('car_price.csv')
cars.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [82]:
# What's the version of NumPy that you installed?

np.__version__

'1.22.4'

In [83]:
# How many records are in the dataset? (rows)
cars.shape[0]

11914

In [84]:
# Who are the most frequent car manufacturers (top-3) according to the dataset?
cars.Make.value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [85]:
# What's the number of unique Audi car models in the dataset?

cars[cars['Make'] == 'Audi']['Model'].nunique()

34

In [86]:
# How many columns in the dataset have missing values?
cars.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [87]:
(cars.isnull().sum() != 0).sum()

5

In [88]:
# Find the median value of "Engine Cylinders" column in the dataset.
print('Median: ', cars['Engine Cylinders'].median())
# calculate the most frequent value of the same "Engine Cylinders".
print('Mode: ', cars['Engine Cylinders'].mode())

# Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
cars['Engine Cylinders'] = cars['Engine Cylinders'].fillna(cars['Engine Cylinders'].mode())

# Now, calculate the median value of "Engine Cylinders" once again.
# Has it changed?
print('New Median: ', cars['Engine Cylinders'].median())

Median:  6.0
Mode:  0    4.0
Name: Engine Cylinders, dtype: float64
New Median:  6.0

In [89]:
# Select all the "Lotus" cars from the dataset.
lotus = cars[cars['Make'] == 'Lotus']
lotus.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3914,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3915,Lotus,Elise,2010,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3916,Lotus,Elise,2010,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990

In [90]:
# Select only columns "Engine HP", "Engine Cylinders".
lotus = lotus[['Engine HP', 'Engine Cylinders']]
# drop all duplicated rows using drop_duplicates method
lotus = lotus.drop_duplicates()
lotus

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [91]:
# Get the underlying NumPy array. Let's call it X.
X = lotus.to_numpy()
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [92]:
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T @ X
# Compute the inverse of XTX.
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [93]:
# Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

w = (XTX_inv @ X.T)@y
w[0]

4.594944810094551

# 2021

In [94]:
# What's the version of Pandas?
pd.__version__

'1.5.3'

In [95]:
# What's the average price of BMW cars in the dataset?

cars[cars['Make'] == 'BMW']['MSRP'].mean()

61546.76347305389

In [96]:
# Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?
cars[cars['Year']>=2015]['Engine HP'].isnull().sum()

51

In [98]:
# Calculate the average "Engine HP" in the dataset.
print('Mean: ', cars['Engine HP'].mean())
# Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
cars['Engine HP'] = cars['Engine HP'].fillna(cars['Engine HP'].mean())
# Now, calcualte the average of "Engine HP" again.
print('New Mean: ', cars['Engine HP'].mean())
# Has it changed?NO

Mean:  249.38607007176023
New Mean:  249.38607007176023

In [101]:
# Select all the "Rolls-Royce" cars from the dataset.
rolls_royce = cars[cars['Make'] == 'Rolls-Royce']
# Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
rolls_royce = rolls_royce[["Engine HP", "Engine Cylinders", "highway MPG"]]
# drop all duplicated rows
rolls_royce = rolls_royce.drop_duplicates()
rolls_royce

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [105]:
from numpy.linalg import linalg
# Get the underlying NumPy array. Let's call it X.
X = rolls_royce.to_numpy()
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
XTX_inv.sum()

0.032212320677486125

In [107]:
# Create an array y
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
w = (XTX_inv @ X.T)@y
w[0]

0.19989598183188978